@import url(./variables.css);

header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.nav-navbar{
    display: flex;
    gap: 2rem;
    
}
.nav-navbar li a{
    font-size: var(--fs-lg);

}
